<div class= "vehiclesList" data-ng-if="vm.vehicles">
    <label class="searchFilter">Search: <input ng-model="searchText" placeholder="Enter your search text"> </label> 

<!-- style="width: 60%; margin-bottom: 20px; background-color: #fff;"  border="2px" align="center" 
 style="text-align: left; padding-left: 30px;"
 -->

    <table data-ng-if="vm.vehicles">
        <tr>
            <th>Vehicle ID</th>
            <th>Brand</th>
            <th>Year</th>
        </tr>
        <tr ng-repeat= "vehicle in vm.vehicles.models | filter:searchText">
            <td>{{vehicle.years[0].id}}</td>
            <td> {{vm.vehicles.name}}-{{vehicle.name}}</td>
            <td>{{vehicle.years[0].year}}</td>
        </tr>
    </table>
</div>
