@import '../common';

.navbar {
  background-color: #fafafa; //$lightBgColor;
  border: $borderColor solid green;
  width: 89%;
  border-radius: 5px;
  padding: 0 2rem 0.05rem;
  margin: 20px auto;
  font-family: "Source Sans Pro",Verdana,sans-serif;
  position: relative;

  .nav-links,
  .logo {
    display: inline-block;
  }

  .logo {
    
    margin-right: 10%;

    h1 {
      a {
        cursor: pointer;
        color: #888; //#1d6439;
        //color: $primaryColor;
        font-size: $brandFontSize;
        text-decoration: none;  
      }
      
    }
  }

  .nav-links {
    ul {
      
      li {
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 13px;
        :hover {
            background-color: $liHoverColor;

        }

        a {
          cursor: pointer;
          color: #888; //#1d6439;
          //color: $primaryColor;
          text-decoration: none;
          padding: 2rem 0.75rem;
          margin-bottom: 2px;


        }
      }
    }
  }
}
