.vSearchForm {
	//border: 2px solid #008088;
	width: 58%;
	//padding: 10px;

	margin: 20px auto;
	.vForm {
		position: center;
		height: 100%;
		margin: 2px;
		box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
		padding: 5px 0;
		label{
			font-size: 18px;
            span {
            	margin-left: 15px;
            	&:first {
            		margin-left: 0;
            	}
            }

			input {
				border-radius: 5px;
				font-size: 14px;
				height: 17px;
				padding: 5px;
				vertical-align: middle;
				
				&.inModel {
					width: 100px;
				}

				&.inYear {
					width: 50px;
					margin-right: 3px;
				}	
			} 

			select {
				font-size: 14px;
				height: 33px;
				padding: 3px;
				vertical-align: middle;
				border-radius: 5px;
			} 
			
		}

		.submitbtn {
			border-radius: 5px;
			vertical-align: center;
			height: 27px;
			margin-left: 15px;
		}
	}
}
