.home {
  width: 95%;
  margin: 20px auto 27px;
  min-height: 490px;
  text-align: center;
  border-top: 2px solid #bdd084;
  border-bottom: 2px solid #bdd084;
  //border-radius: 5px;
  background-color: #f8f8f8; //#fafafa;
  color: #888;
  overflow: auto;

  h1 {
  	background-color: #bdd084;
  	color: #888;
  	//border-radius: 10px;
  	margin: 20px auto;
    width: 85%;
  }
}
