
.home {
  background-color: #f8f8f8;
  border-bottom: 2px solid #bdd084;
  border-top: 2px solid #bdd084;
  color: #888;
  height: 490px;
  margin: 20px auto 27px;
  overflow: auto;
  text-align: center;
  width: 95%;

  h2 {
  	background-color: #bdd084;
  	margin: 20px auto;
    width: 85%;
    
  }
}
