.home {
  width: 95%;
  margin: 20px auto 27px;
  height: 490px;
  text-align: center;
  border-top: 2px solid #bdd084;
  border-bottom: 2px solid #bdd084;
  background-color: #f8f8f8; //#fafafa;
  color: #888;
  overflow: auto;
  //position: relative;

  h2 {
  	background-color: #bdd084;
  	color: #888;
  	margin: 20px auto;
    width: 85%;
  }
}
