@import '../common';
.footerbar {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
    border-radius: 5px;
    font-size: 12px;
    color: $primaryColor;
    line-height: 18px;
    padding: 1rem 3rem;

    .copyright{
      display: inline-block;
      margin-right: 5rem;
    }

    .sponsor {
      display: inline-block;
      margin-right: 25rem;
      a {
        text-decoration: none;    
      }
    }

    .contactus {
        display: inline-block;
        margin-right: 1rem;
    }
  
}

